<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TP4 - {% block page_title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1>TP4</h1>
        <h2>{% block title %}{% endblock %}</h2>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
